frontend/*.js text eol=lf
frontend/*.css text eol=lf
frontend/*.html text eol=lf
backend/*.py text eol=lf
scripts/*.py text eol=lf
tests/*.py text eol=lf
tests/*.cjs text eol=lf
/*.cjs text eol=lf
/package.json text eol=lf
/package-lock.json text eol=lf
/.prettierrc.json text eol=lf
/ruff.toml text eol=lf
